<div class="container-fluid" style="padding: 0;">
  <div class="row">
    
    <div class="col col-gauche">
      <div class="container">
        <h1 id="nom-appli">REGISTATION</h1>
        <div class="row">
          <img src="assets/images/logo.png" alt="logo" id="logo">
        </div>
      </div>
    </div>

    <div class="col col-droite">
      <!-- Début Card Login -->
      <mat-card class="card-login">
        <div class="position-icon-login">
          <mat-icon class="icon-login" [inline]="true">account_circle</mat-icon>
        </div>
        <mat-form-field class="full-width-input">
          <mat-label>Matricule</mat-label>
          <mat-icon matPrefix class="icone-info-card">fingerprint</mat-icon>
          <input matInput [(ngModel)]="user.username" type="text" name="username" id="username" required>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <mat-label>Password</mat-label>
          <mat-icon matPrefix class="icone-info-card">lock</mat-icon>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" type="password"
            name="password" id="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div class="div-bouton">
          <button mat-raised-button color="primary" [disabled]='user.password.length==0 || user.username.length==0'
            (click)="login()" class="bouton-login">Connexion
          </button>
        </div>
      </mat-card>
      <!-- Fin Card-login -->
    </div>

  </div>
<!-- Fin Row principale -->

<!-- Début Row2 présentation Equipe -->


<app-presentation-team></app-presentation-team>


</div>