.example-spacer {
    flex: 1 1 auto;
  }
.mat-toolbar{
  background-color:lightslategray;
  position: sticky;
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
#logo-navbar{
  width: 50px;
  margin-right: 10px;
}
.mat-sidenav{
  background-color:lightyellow;
}
#logo-big{
  opacity: 0.2;
  height: 100%;
}
.icone-side{
  margin-right: 5px;
}