<p>test content</p>
<div class="container-fluid">
    <div class="row">
        <div class="col col-gauche" style="background-color: #F4E285; height: 757px;">
            <div class="container">
                <h1 id="nom-appli">REGISTATION</h1>
                <div class="row">
                    <img src="assets/images/logo.png" alt="logo" id="logo">
                </div>
            </div>
        </div>
        <div class="col" style="background-color: #5B8E7D; height: 757px;">
            <div class="container">
                <div id="div-connection">
                    <div class="connexion-form">
                        <form class="connexion-form">
                            <div class="form-icon">
                                <span><i class="fa fa-user" style='font-size:45px'></i></span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control item" id="loginInput" placeholder="Matricule">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control item" id="passwordInput"
                                    placeholder="********">
                            </div>
                            <div class="form-group">
                                <button type="submit" id="loginBtn" class="btn btn-block connect">Se Connecter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Affichage de la team -->
<!-- <app-presentation-team></app-presentation-team> -->
