.evenement-table th,.evenement-table td{
	height:11rem;
	width:22rem;
	font-size:1.2rem;
}
.cellule-tete, .cellule-tete td{
	height:13rem;
}
.cellule-tete .jour{
	display:block;	
	text-align:center;
	width:100%;
}
.cellule-jour{
	display:block;
	text-align:center;
}
#evenement{
	padding: 0.2rem 0.5rem;
	display:block;
	text-align:center;
	font-size:1.2rem;
	height:2.3rem; 
	width:100%;
	background-color:red;
	border-color:red;
}
.evenement-titre{
	width:100%;
	text-align:center;
}