<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Lora&display=swap" rel="stylesheet">
<mat-card class="card-top">
  <h2>Documents</h2>
  <button mat-mini-fab color="primary" id="bouton-ajouter" [routerLink]="'/document/formulaire'">
    <mat-icon>add</mat-icon>
  </button>
</mat-card>

<div class="content" fxLayout="row wrap" fxLayoutGap="10% grid" fxFill="100%">
  <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%">
    <mat-card class="mat-elevation-z4">
      <img mat-card-image src="/assets/images/fiche-poste-medium.jpg" alt="photo illustrant les fiches de poste">
      <mat-card-content>
        <h1>
          Fiches de poste
        </h1>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%">
    <mat-card class="mat-elevation-z4">
      <img mat-card-image src="/assets/images/paie-low.jpg" alt="photo illustrant les fiches de paie">
      <mat-card-content>
        <h1>
          Fiches de paie
        </h1>
      </mat-card-content>
    </mat-card>
  </div>


  <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%">
    <mat-card class="mat-elevation-z4">
      <img mat-card-image src="/assets/images/facture-low.jpg" alt="photo illustrant les factures">
      <mat-card-content>
        <h1>
          Factures
        </h1>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br>
<br>
<div class="container">
  <h2> Liste des documents</h2>
  <table class="rwd-table">
  <thead>
  <tr>
    <th scope="col">id du document</th>
    <th scope="col">nom document</th>
    <th scope="col">categorie du document</th>
    <th scope="col">date d'ajout du document</th>
    <th scope="col">date de dernière modification du document</th>
    <th scope="col">description du document</th>
    <th scope="col">commentaires du document</th>
    <th scope="col">matricule de l'utilisateur à son origine</th>
  </tr>
  </thead>
<tbody>
<tr *ngFor="let documents2 of documentList2">
  <td scope="row" data-th="idDocument">{{documents2.idDocument}}</td>
  <td scope="row" data-th="nomDocument">{{documents2.nomDocument}}</td>
  <td scope="row" data-th="categorieDocument">{{documents2.categorieDocument}}</td>
  <td scope="row" data-th="dateAjoutDocument">{{documents2.dateAjoutDocument| date:'short'}}</td>
  <td scope="row" data-th="dateDerniereModificationDocument">{{documents2.dateDerniereModificationDocument| date:'short'}}</td>
  <td scope="row" data-th="descriptionDocument">{{documents2.descriptionDocument}}</td>
  <td scope="row" data-th="commentairesDocument">{{documents2.commentairesDocument}}</td>
  <td scope="row" data-th="matriculeUtilisateur">{{documents2.matriculeUtilisateur}}</td>
</tr>
    </tbody>
</table>
</div>
