<div [ngClass]="tete?'cellule-tete':'cellule'">
    <span class="tete w-100" [ngClass]="tete?'tete':'no-tete'">{{jour.split('-')[0]}}</span>
    <span class="jourC w-100">{{jour.split('-')[1]}}</span>
    <div class="evenements w-100">
        <ng-container *ngFor="let e of event">
            <span class="ev btn btn-light" *ngIf="estDansIntervale(e.date_debut,e.date_fin,dates)" [ngClass]=''>
                {{e.type}}:{{e.description}}
            </span>
        </ng-container>
    </div>
</div>  