<div id="form-get-materiel">

    <form #getMaterielByIdForm=ngForm (ngSubmit)=getMaterielById(idMat.value)>
        <div>
            Id: <input type="number" name=idMat [(ngModel)]=materiel.idMat required #idMat="ngModel">
        </div>
        <div>
            <button>Chercher ce matériel ayant cette Id</button>
        </div>
    </form>


    <table class="table">
        <thead>
            <th> Id</th>
            <th> Référence </th>
            <th> Marque</th>
            <th> Modele</th>
            <th> Type de matériel</th>
            <th> Prix d'achat</th>
            <th> Localisation</th>
            <th> Etat</th>
            <th> Date d'achat</th>
        </thead>
        <tbody>
            <tr>

                <td>{{materiel.idMat}}</td>
                <td>{{materiel.ref}}</td>
                <td>{{materiel.marque}}</td>
                <td>{{materiel.modele}}</td>
                <td>{{materiel.prix}}</td>
                <td>{{materiel.etat}}</td>
                <td>{{materiel.dateAchat}}</td>
                <td>{{materiel.typeMateriel}}</td>
                <td>{{materiel.localisation}}</td>
                <td>
                    <form #getDeleteByIdForm=ngForm>
                        <input type="hidden" value="{{materiel.idMat}}">
                        <button type="submit" (click)='deleteMateriel(idMat.value)' mat-fab color="warn"
                            ng-if="showBtns" ng-show="showSave">
                            <!-- <mat-icon _ngcontent-gij-c138="" role="img"
                            class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true"
                            data-mat-icon-type="font">delete</mat-icon> -->
                            delete
                        </button>

                    </form>
                </td>
            </tr>
        </tbody>

    </table>

</div>