<p>ajouter-document works!</p>

<form [formGroup]="documentForm">
  <div>
  Nom du document :
    <input type="text" formControlName="nomDocument">
  </div>
  <mat-icon> insert_drive_file</mat-icon>
  <div>
    Catégorie du document :
    <input type="text" formControlName="categorieDocument">
  </div>
  <mat-icon>filter_frames</mat-icon>
  <div>
    <mat-icon>calendar_today</mat-icon>
    <mat-form-field appearance="fill">
      <mat-label>Date d'ajout du document</mat-label>
      <input matInput [ matDatepicker ]="dateAjoutDocument">
      <mat-datepicker-toggle matSuffix [for]="dateAjoutDocument"></mat-datepicker-toggle>
      <mat-datepicker #dateAjoutDocument></mat-datepicker>
    </mat-form-field>
  </div>
<div>
  <mat-icon>bookmark</mat-icon>
  <mat-form-field appearance="fill">
    <mat-label>Date de dernière modification du document</mat-label>
    <input matInput [ matDatepicker ]="dateDerniereModificationDocument">
    <mat-datepicker-toggle matSuffix [for]="dateDerniereModificationDocument"></mat-datepicker-toggle>
    <mat-datepicker #dateDerniereModificationDocument></mat-datepicker>
  </mat-form-field>
</div>
  <mat-icon>description</mat-icon>
  <div>
    Description du document :
    <input type="text" formControlName="descriptionDocument">
  </div>
  <mat-icon>feedback</mat-icon>
  <div>
    Commentaires du document :
    <input type="text" formControlName="nomDocument">
  </div>
  <mat-icon>fingerprint</mat-icon>
  <div>
    Matricule de l'utilisateur à l'origine du document :
    <input type="text" formControlName="nomDocument">
  </div>
</form>
