.mat-toolbar{
    background: #F4E285;
    color: black;
}
#logoNavbar{
    height: 50px;
    width: 50px;
}
h1{
    margin-left: 10px;
}
#logo-background{
    width: 500px;
    height: 500px;
    opacity: 0.2;
    
    
}