.icone-info-card{
    margin-right: 5px;
}
.mat-form-field{
    margin-right: 15px;
}
.ajout-utilisateur-form{
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    margin-top: 2rem;
}
.bouton-ajouter{
    color:#fff;
     background-image: linear-gradient(to right, #CDDFA0, #6FD08C );
}